extends ./layout.jade

block vars
  - var title = 'Bloggers'

block content

  .spacing

  h3(class='title') View all Bloggers
    a(href='/bloggers/')
    hr
    
  .spacing
  
  ul.list-group.bloggers-list
  each user in userData
    a(href='/bloggers/'+user.username)
      li.list-group-item
        span.label.label-default.label-pill.pull-right #{user.numPosts}
        |  #{user.username}
        
  .spacing
